# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependências
node_modules/

# Build
dist
dist-ssr
build

# Variáveis de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Banco de dados
*.sqlite
*.db

# Prisma
prisma/dev.db

# Arquivos locais
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# Sistema
.DS_Store
Thumbs.db

# Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?