node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma

# Uploads — ignorar arquivos mas manter estrutura de pastas
/uploads/produtos/*
!/uploads/produtos/.gitkeep
